footer{
    display: flex;
    justify-content: center;
    background-color: linear-gradient(to right, #fb7f0f, #d09f00, #a3b52d, #76c363, #49cc97, #43d2af, #48d7c5, #58dbd8, #6be2de, #7de9e5, #8df1eb, #9cf8f2);;
    color: $color-principal;
    width: $tamanio1oox100to;
    
    bottom: 0%;
}
.red-ig img{
    width: $tamanio20px;
    border-radius: $tamanio20x100to;
}
.red-fc img{
    width: $tamanio20px;
    border-radius: $tamanio50x100to;
}

.red-ig :hover{
    background-color: map-get($map: $redes, $key: instagram );    
}

.red-fc :hover{
    background-color: map-get($map: $redes, $key: face);
}
