footer{
    display: flex;
    justify-content: center;
    color: $color-principal;
    width: $tamanio1oox100to;
    bottom: 0%;
}
.red-ig img{
    width: $tamanio20px;
    border-radius: $tamanio20x100to;
}
.red-fc img{
    width: $tamanio20px;
    border-radius: $tamanio50x100to;
}

.red-ig :hover{
    background-color: map-get($map: $redes, $key: instagram );    
}

.red-fc :hover{
    background-color: map-get($map: $redes, $key: face);
}
