body h1{
    font-family: 'Inter', sans-serif;
font-family: 'Nerko One', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Shadows Into Light', cursive;
}
body{
    background-color: #333;
}

.elementosnav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.imglogo{
    margin-left: 20px;
}

.barnav{
    display:flex ;
    
}

.listnav{
    list-style: none;
    display: flex;
    float: right;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding-left: 10px;
}

.list a:hover{
    color: #887e7e;
}

.logo{
    width: 20vh;
    display: flex;
    float: left;
}

.titulo{
    display: flex;
    justify-content: center;
}

.portada{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20vh;
    background-color: #333;
    color: white;
}

.img-portada{
    width: 500px;
    right: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.img-portada img{
    border-radius: 45%;
    width: 100%;
    right: 100%;
    object-fit: cover;
}

.epigrafe{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20vh;
    background-color: #333;
    color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

.galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10vh;
    margin-bottom: 50px;
}

.img-galeria{
    width: 400px;
    right: 400px;
}

.img-galeria img{
    border-radius: 20%;
    width: 100%;
    right: 100%;
    object-fit: cover;
}

.img-galeria :hover{
    transform: scale(1.1);
    transition: 0.7s;
}

.biografia{
    width: 80vh;
    display: flex;
    float: left;
    color: white;
}

.biografia p{
    display: flex;
    justify-content: center;
    padding-left: 5vh;
}

.main-bio{
    background-image: url(../image/discografia/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;    
}

body::-webkit-scrollbar {
    display: none;
}

.styled-table { 
    border-collapse: collapse; 
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    }

.styled-table thead tr { 
    background-color: #812575; 
    color: #ffffff; 
    text-align: middle;
 }

.styled-table th, .styled-table td { 
    padding: 12px 15px; 
}

.styled-table tbody tr { 
    border-bottom: 1px solid #dddddd; 
} 

.styled-table tbody tr:nth-of-type(even) { 
    background-color: #f3f3f3; 
} 

.styled-table tbody tr:last-of-type { 
    border-bottom: 2px solid #009879; 
}

.styled-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-label{
    font-family: cursive;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.contacto-input{
    width: 100vh;
}

.contacto-mensaje{
    width: 100vh;
}

.contacto-btn{
    width: 20vh;
    height: 5vh;
    font-size: 1rem;
    font-family: cursive;
    background-color: rgb(235, 10, 10);
    border-radius: 10%;
}